
// SETUP
// @import 'setup/typography';
@import 'setup/variables';
// @import 'setup/mixins';
// @import 'setup/functions';

// BASICS
@import 'base/helpers';
@import 'base/base';
// @import 'base/layout';

// COMPONENTS
@import 'cmps/main-header';
@import 'cmps/HomePage';
@import 'cmps/ToyList';
@import 'cmps/ToyDetails';




.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 3em;
}
.app > * {
    width: 100%;
}