.app-header {
    background-color: $clr1;
    padding-inline: 10px;
    border-radius: 30px;





    .header-container {
        display: flex;
        justify-content: space-between;
        align-content: center;

        .logo {
            /* margin-left: 20px; */
            // flex-grow: 1;
        }

        .app-nav {
            align-self: center;
            padding: 10px;
            display: flex;
            gap: 10px;

        }

        .login-container {
            align-self: center;

            .login-page {
                display: flex;

                .login-form {
                    input {
                        width: 80px;
                        border-radius: 5px;
                        border: 1px solid $gray2;
                    }
                }
            }
        }


    }
}