.app-header{
    background-color: rgb(198, 215, 224);
}

.header-container{
    display: flex;
}

.logo{
    margin-left: 10px;
    flex-grow: 1;
}

.app-nav{
    align-self: center;
    padding: 10px;
}