.app-header{
    background-color: var(--clr1);
    margin: 20px 20px 0 20px;
    padding-inline:10px ;
    border-radius: 30px;

}

.header-container{
    display: flex;

}

.logo{
    /* margin-left: 20px; */
    
    flex-grow: 1;
}

.app-nav{
    align-self: center;
    padding: 10px;
    
}